In [1]:
import re
import time
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

In [2]:
base_link = "https://www.weather-forecast.com/locations/"

In [3]:
city = input('Enter City Name --> ')

Enter City Name --> Mumbai

In [4]:
def data_days(soup):
    days_data = soup.find_all('div', class_='b-forecast__table-days-name')

    days = []
    for i in range(12):
        days.append(days_data[i].get_text())
    
    return days

In [5]:
def data_date(soup):
    date_data = soup.find_all('div', class_='b-forecast__table-days-date')

    date = []
    for i in range(12):
        date.append(date_data[i].get_text())
    
    return date

In [6]:
def data_high(soup):
    high_table = soup.find('tr', class_='b-forecast__table-max-temperature')
    high_data = high_table.find_all('span', class_='temp b-forecast__table-value')

    high_am = []
    high_pm = []
    high_night = [] 
    for i in range(0, len(high_data), 3):
        high_am.append(high_data[i].get_text())
        high_pm.append(high_data[i+1].get_text())
        high_night.append(high_data[i+2].get_text())
    
    return high_am, high_pm, high_night

In [7]:
def data_low(soup):
    low_table = soup.find('tr', class_='b-forecast__table-min-temperature')
    low_data = low_table.find_all('span', class_='temp b-forecast__table-value')

    low_am = []
    low_pm = []
    low_night = [] 

    for i in range(0, len(low_data), 3):
        low_am.append(low_data[i].get_text())
        low_pm.append(low_data[i+1].get_text())
        low_night.append(low_data[i+2].get_text())
    
    return low_am, low_pm, low_night

In [8]:
def data_humidity(soup):
    hum_table = soup.find('tr', class_='b-forecast__table-humidity')
    hum_data = hum_table.find_all('span', class_='b-forecast__table-value')

    humidity_am = []
    humidity_pm = []
    humidity_night = [] 
    for i in range(0, len(hum_data), 3):
        humidity_am.append(hum_data[i].get_text())
        humidity_pm.append(hum_data[i+1].get_text())
        humidity_night.append(hum_data[i+2].get_text())
    
    return humidity_am, humidity_pm, humidity_night

In [9]:
def extract_data(base_link, city):
    link = f"{base_link}{city}/forecasts/latest"
    page = requests.get(link)
    soup = bs(page.content, 'html.parser')
    
    days = data_days(soup)
    date = data_date(soup)
    high_am, high_pm, high_night = data_high(soup)
    low_am, low_pm, low_night = data_low(soup)
    humidity_am, humidity_pm, humidity_night = data_humidity(soup)
    
    return days, date, high_am, high_pm, high_night, low_am, low_pm, low_night, humidity_am, humidity_pm, humidity_night

In [10]:
days, date, high_am, high_pm, high_night, low_am, low_pm, low_night, humidity_am, humidity_pm, humidity_night = extract_data(base_link, city)

In [11]:
df = pd.DataFrame()

df['Day'] = days
df['Date'] = date
df['Max Temperature AM'] = high_am
df['Max Temperature PM'] = high_pm
df['Max Temperature Night'] = high_night
df['Min Temperature AM'] = low_am
df['Min Temperature PM'] = low_pm
df['Min Temperature Night'] = low_night
df['Humidity AM'] = humidity_am
df['Humidity PM'] = humidity_pm
df['Humidity Night'] = humidity_night

df

,Day,Date,Max Temperature AM,Max Temperature PM,Max Temperature Night,Min Temperature AM,Min Temperature PM,Min Temperature Night,Humidity AM,Humidity PM,Humidity Night
0,Thursday,08,29,30,29,28,29,28,73,70,73
1,Friday,09,28,29,28,28,29,27,70,68,72
2,Saturday,10,28,28,28,28,28,27,75,76,79
3,Sunday,11,27,27,27,27,26,26,87,85,89
4,Monday,12,27,28,28,26,27,28,86,76,76
5,Tuesday,13,28,27,27,28,27,26,80,85,86
6,Wednesday,14,28,28,28,27,28,27,79,80,86
7,Thursday,15,27,28,27,27,27,27,86,84,90
8,Friday,16,28,28,28,27,28,27,85,82,82
9,Saturday,17,29,29,28,28,28,27,79,81,81
10,Sunday,18,27,26,26,27,26,26,88,93,92
11,Monday,19,26,27,27,26,26,26,87,81,90

In [12]:
df.to_csv('Weather Data.csv', index=False)